@page "/"
@using BandBookerWasm.Shared.Models;

<DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
	<DxTab Text="Instruments"></DxTab>
	<DxTab Text="Musicians"></DxTab>
	<DxTab Text="Events"></DxTab>
	<DxTab Text="Sessions"></DxTab>
</DxTabs>
<div class="card dxbs-border-top-0 dxbs-border-radius-top-0">
	<div class="card-body">
		@switch (ActiveTabIndex)
		{
			case 0:
				<DXInstrumentEditor Instruments="@DataMan.Instruments"></DXInstrumentEditor>
				break;
			case 1:
				<DXMusicianEditor Instruments="@DataMan.Instruments" Musicians="@DataMan.Musicians"></DXMusicianEditor>
				break;
			case 2:
				<DXEventEditor Events="@DataMan.Events"></DXEventEditor>
				break;
			case 3:
				<DXSessionEditor Sessions="@DataMan.Sessions" Events="@DataMan.Events"></DXSessionEditor>
				break;

		}
	</div>
</div>

@code{
	[Inject]
	public BandBookerDataManager DataMan { get; set; }

	int activeTabIndex = 0;
	public int ActiveTabIndex
	{
		get => activeTabIndex;
		set { activeTabIndex = value; InvokeAsync(StateHasChanged); }
	}

}